html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  color: black;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.banner {
  background-color:steelblue;
  color:whitesmoke;
  position:relative;
  list-style:none;
  text-align:right;
  padding:1.2em 0em;
  z-index:2;
}

.banner > .navigation > .name {
  display:block;
  float:left;
  position:relative;
  padding-left:1.5625em;
  font-size:1.5625em;
  font-weight:bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index:3;
}

.banner > .navigation > li{
  display:inline-block;
  position:relative;
  padding: 0em 1.5625em 0em 1.5625em;
  font-size: 0.9375em;
  z-index:1;
}

.banner > .navigation > li a {
  text-decoration: none;
  color:whitesmoke;
}

.banner > .navigation > li >a:hover {
  opacity:0.6;
}

.banner > .navigation > li > a.activesite {
  opacity:0.5;
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
}

header div h1{
  text-align:left;
  color:whitesmoke;
  font-size:1em;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header:before {
  background: 50% 50% / cover;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(Pictures/background1.jpg);
  filter:contrast(110%);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.notbanner {
  text-align:left;
  z-index: 2;
  position: absolute;
  top: 100vh;
  line-height: 70px;
  font-weight: lighter;
  color:black;
  width: 100%;
  font-size:2.5em
}

.notbanner1 {
  font-size:2.5em
}

.main {
  background: rgb(70,130,180);
  background: linear-gradient(180deg, rgba(70,130,180,1) 0%, rgba(70,130,180,1) 9%, rgba(164,202,233,1) 25%, rgba(164,202,233,1) 100%);
}

.main section {
  text-align:center;
  padding-top:1.5em;
  padding-bottom:1.5em;
  background-color:steelblue;
  color:whitesmoke;
}

.main p {
  font-size:0.5em
}

.cert {
  text-align:center;
}

.cert {
  height:10em;
  width:auto;
  display:inline-block;
}

.column {
  text-align:center;
  float: left;
  width: 50%;
  color:black;
  padding-top:1em;
  padding-bottom:1em;
}

.column p {
  position:relative;
  width:75%;
  margin-left:auto;
  margin-right:auto;
  line-height:35px;
}

.education p {
  text-align:center;
  line-height:75px;
}

.main {
  content:"";
  display:table;
  clear:both;
}

.main article {
  line-height:25px;
  font-size:1em;
  margin:0;
}

.about {
  padding-top:1.5em;
  padding-bottom:1.5em;
  margin:0;
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.container {
  padding: 1em;
}

.container photoright {
  display: block;
  height: auto;
  max-width: 100%;
}

.container photoleft{
  display: block;
  height: auto;
  max-width: 100%;
}

.container img {
  display: block;
  height: auto;
  max-width: 100%;
}


.row:after {
  content: "";
  display: table;
  clear: both
}

* {
  box-sizing: border-box;
}

.column-66 article {
  text-align:center;
}

.column-33 article {
  text-align:center;
}

.column-66 p {
  line-height:45px;
}

p.subtext {
  line-height:55px;
}

.column > a {
  font-size: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;  
}

.column a:visited{
  color:black;
  text-decoration: none;
}

.column a:link{
  color:black;
  text-decoration: none;
}

.column a:hover{
  color:grey;
  opacity:0.99;
  text-decoration: none;
}

.column a:active{
  color:grey;
  text-decoration: none;
}

.subtext li {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 0.5em;
  line-height: 45px;
}

.subtextgoals li {
  text-align: left;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 0.5em;
  line-height: 45px;
}

.photoright {
  box-shadow: 5px 10px 5px 3px #4682B4;
}

.photoleft {
  box-shadow: -5px 10px 5px 3px #4682B4;
}

.category section {
  text-align:center;
  padding-top:1.5em;
  padding-bottom:1.5em;
  background-color:steelblue;
  color:whitesmoke;
  width:100%;
}

.category {
  background:rgba(164,202,233,1);
  text-align:center;
}

.certs {
  flex-flow: row;
  justify-content: space-between;
  padding: 0 2em;
  align-items: flex-start;
}

footer .container {
  background-color:steelblue;
}

footer p {
  text-align:center;
  color:whitesmoke;
  font-size:25px;
}

.white{
  color:whitesmoke;
  line-height:25px;
  font-size:1.2em;
  margin:0;
  height: 100%;
  width: 100%;
  padding:48px;
}

.column .personaldata li{
  margin: 0;
  padding: 0;
  height:2em;
  list-style-type: none;
  font-size: 0.7em;
  z-index:1;
}

.column .personaldata li a {
  text-decoration: none;
  color:whitesmoke;
}

.column .personaldata li a:hover {
  opacity:0.6;
}

.column .personaldata li a.activesite {
  opacity:0.5;
}

.certs ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  list-style: inside;
  width:30%;
}

.certs li {
  font-size: 0.5em;
  line-height: 45px;
}

.timeline {
  text-align:center;
}