html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  color: black;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.banner {
  background-color:steelblue;
  color:whitesmoke;
  position:relative;
  list-style:none;
  text-align:right;
  padding:1.2em 0em;
  z-index:2;
}

.banner > .navigation > .name {
  display:block;
  float:left;
  position:relative;
  padding-left:1.5625em;
  font-size:1.5625em;
  font-weight:bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index:3;
}

.banner > .navigation > li{
  display:inline-block;
  position:relative;
  padding: 0em 1.5625em 0em 1.5625em;
  font-size: 0.9375em;
  z-index:1;
}

.banner > .navigation > li a {
  text-decoration: none;
  color:whitesmoke;
}

.banner > .navigation > li >a:hover {
  opacity:0.6;
}

.banner > .navigation > li > a.active {
  opacity:0.5;
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
}

header div h1{
  text-align:left;
  color:whitesmoke;
  font-size:1em;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header:before {
  background: 50% 50% / cover;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(Pictures/background1.jpg);
  filter:saturate(85%);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.main {
  text-align:center;
  z-index: 2;
  position: absolute;
  top: 100vh;
  background: whitesmoke;
  line-height: 70px;
  font-weight: lighter;
  color:black;
  width: 100%;
  font-size:2.5em
}

.main section {
  padding-top:1.5em;
  padding-bottom:1.5em;
  background-color:steelblue;
  color:whitesmoke;
}

.main p {
  font-size:0.5em
}

.certs {
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

.cert {
  text-align:center;
  color:black;
}

.cert img {
  height:25em;
  width:auto;
  display:inline-block;
}

.columnfirst {
  text-align:center;
  float: left;
  width: 50%;
  background-color:papayawhip;
  color:black;
  height:15em;
}

.columnsecond {
  text-align:center;
  float: left;
  width: 50%;
  background-color:papayawhip;
  color:black;
  height:30em;
}

.columnfirst p {
  text-align:left;
  position:relative;
  width:75%;
  margin-left:auto;
  margin-right:auto;
}

.columnsecond p {
  text-align:left;
  position:relative;
  width:75%;
  margin-left:auto;
  margin-right:auto;
}

.education p {
  text-align:center;
}

.container {
  content:"";
  display:table;
  clear:both;
}

.about h4 {
  margin:0;
}

.about {
  background-color:papayawhip;
  padding-top:1.5em;
  padding-bottom:1.5em;
  margin:0;
}

.interest p {
  text-align:center;
}